## Arithmetic operations

In [1]:
import pandas as pd

In [2]:
var= pd.DataFrame({"A":[1,2,3,4],"B":[5,6,7,8]})
var

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [8]:
var["C"]=var["A"]+var["B"]
var
var["D"]=var["B"]-var["A"]
var
var["E"]=var["B"]*var["C"]
var

   A  B   C  D   E
0  1  5   6  4  30
1  2  6   8  4  48
2  3  7  10  4  70
3  4  8  12  4  96

In [9]:
var1=pd.DataFrame({"A":[10,20,30,40],"B":[15,16,17,18]})
var1

    A   B
0  10  15
1  20  16
2  30  17
3  40  18

In [12]:
var1["Python"]=var1["A"]<=20
var1["Python_1"]=var1["B"]>=16
var1

    A   B  Python  Python_1
0  10  15    True     False
1  20  16    True      True
2  30  17   False      True
3  40  18   False      True