## DataFrame

In [1]:
import pandas as pd

In [4]:
l=[1,2,3,4,5,6]
var=pd.DataFrame(l)
print(var)
print(type(var))

   0
0  1
1  2
2  3
3  4
4  5
5  6
<class 'pandas.core.frame.DataFrame'>

In [15]:
d={"a":[1,2,3,4,5],"s":[1,2,3,4,5]}
var1=pd.DataFrame(d)
print(type(var1))
print(var1)
print()

var2=pd.DataFrame(d,columns=["a"],index=["m","s","d","f","k"])
print(var2)
print()
print("for specific col or rows data :- ",var1["a"][3])

## If Data is unbalanced than -,

## d={"a":[1,2,3,4,5],"s":[1,2,3,4,5,6,7]}
## than error will come !

<class 'pandas.core.frame.DataFrame'>
   a  s
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5

   a
m  1
s  2
d  3
f  4
k  5

for specific col or rows data :-  4

In [16]:
list_1=[[1,2,3,4,5],[11,12,13,14,15]]
var3=pd.DataFrame(list_1)

print(type(var3))
var3

<class 'pandas.core.frame.DataFrame'>

    0   1   2   3   4
0   1   2   3   4   5
1  11  12  13  14  15

In [20]:
sr={"s":pd.Series([1,2,3,4]),"r":pd.Series([5,6,7,8])}
k=pd.DataFrame(sr)
print(type(k))
print(k)

<class 'pandas.core.frame.DataFrame'>
   s  r
0  1  5
1  2  6
2  3  7
3  4  8